@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet specific overrides for Tailwind compatibility */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.custom-div-icon {
  background: transparent;
  border: none;
}

/* Prevent elastic scrolling on iOS */
html, body {
  overscroll-behavior-y: none;
}